<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Danh sách sản phẩm</title>	
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="css/List.css">
</head>
<body>
	<div class="web-header">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<a href="http://localhost:3000/"><img src="images/Book-online.jpe" alt=""></a>	
				</div>
				<div class="col-md-7">
					<div class="col-md-3">
						<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
						<div class="info">
							<p>Hotline</p>
							<p>1900-0000</p>
						</div>
					</div>
					<div class="col-md-4">
						<span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
						<div class="info">
							<p>Miễn phí giao hàng</p>
							<div class="slogan">
								Tận nơi -Toàn quốc
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
						<div class="info1">
							<p>60 000 tựa sách</p>
							<div class="slogan">
								Cập nhật hàng ngày
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="login">
						<a href="http://localhost:3000/login">Đăng nhập</a>
						-
						<a href="http://localhost:3000/register">Đăng kí</a>
					</div>
				</div>
			</div>
		</div>
		<div class="web-body">
			<div class="categories">
				<div class="row">
					<div class="col-md-3">		
						<div class="categories-tittle">
							<div class="dropdown">
								<div class="btn-group">
									<button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Danh mục sách <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li class="menu-group-lv1">
											<a href="" class="sach1">Sách bán chạy</a>
										</li>
										<li class="menu-group-lv2">
											<a href="" class="sach1">Sách mới phát hành</a>
										</li>
										<li class="menu-group-lv2">
											<a href="" class="sach1">Sách xem nhiều nhiều</a>
										</li>
										<li class="menu-group-lv3">
											<a href="" class="sach1">Sách theo danh mục</a>
											<ul class="sub-menu">
												<li class="tree-menu">
													<div class="title-menu1"><a href="#" class="list-1">Thể Loại</a></div>
													<div class="title-menu2"><a href="#">Sách kinh tế</a></div>	
													<div class="title-menu2"><a href="#">Sách thiếu nhi</a></div>	
													<div class="title-menu2"><a href="#">Sách văn học</a></div>	
													<div class="title-menu2"><a href="#">Sách chuyên ngành</a></div>	
													<div class="title-menu2"><a href="#">Sách ngoại ngữ</a></div>	
													<div class="title-menu2"><a href="#">Truyện</a></div>
												</li>
												<li class="tree-menu">
													<div class="title-menu1"><a href="#" class="list-1">Nhà Xuất Bản</a></div>
													<div class="title-menu2"><a href="#">Kim Đồng</a></div>	
													<div class="title-menu2"><a href="#">NXB Trẻ</a></div>	
													<div class="title-menu2"><a href="#">Alpha Book</a></div>	
													<div class="title-menu2"><a href="#">Phương Nam</a></div>	
													<div class="title-menu2"><a href="#">Fahasha</a></div>	
													<div class="title-menu2"><a href="#">Văn Lang</a></div>	
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>	
						</div>		
					</div>
					<div class="col-md-6">
						<div class="top-search">
							<form action="" name="search_form" id="search-form-header" method="get" class="cm-processed-form">
								<input type="text" name="q" value="" id="search_input" title="" class="search-input header-search-input"><button title="Tìm sách" class="search-magnifier btn" type="submit">Tìm sách</button>
							</form>
						</div>
					</div>
					<div class="col-md-3">
						<div class="shopping-cart">
							<a href="" class="cart">
								<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
								Giỏ hàng
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="menu">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="web-body-2">
			<div class="container">
				<div class="link">
					<ol class="breadcrumb">
						<li><a href="http://localhost:3000/">Trang Chủ</a></li>
						<li class="active">Sách kinh tế</a></li>
					</ol>
				</div>
				<div class="col-md-3">
					<div class="list-categories">
						<div class="title-list-categories">Danh mục</div>
						<ul class="list-caretories-1">
							<li><a href="">
								<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
								<span style="font-weight: bold; font-size: 16px;">Thể loại</span>
							</a>
							<ul class="sub-list-categories">
								<li><a href="">Sách kinh tế</a></li>
								<li><a href="">Sách thiếu nhi</a></li>
								<li><a href="">Sách văn học</a></li>
								<li><a href="">Sách chuyên ngành</a></li>
								<li><a href="">Sách ngoại ngữ</a></li>
								<li><a href="">Truyện</a></li>
							</ul>
						</li>
						<li class="list-caretories-title-2"><a href="">
							<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
							<span style="font-weight: bold; font-size: 16px;">Thể loại</span>
						</a>
						<ul class="sub-list-categories">
							<li><a href="">Kim Đồng</a></li>
							<li><a href="">NXB trẻ</a></li>
							<li><a href="">Apha book</a></li>
							<li><a href="">Phương nam</a></li>
							<li><a href="">Fahasa</a></li>
							<li><a href="">Văn lang</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-9">
			<div class="body-title-1">
				Sách kinh tế
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
								<div class="product-image">
									<a href="http://localhost:3000/product"><img src="images/bia_de_con_duoc_om.jpg" alt=""></a>
								</div>						
								<div class="caption">
									<div class="book-name">
										<a href="http://localhost:3000/product">Để con được ốm</a>
									</div>
									<div class="nxb">
										Kim Đồng
									</div>
									<div class="price-product">
										53.000 ₫
									</div>
									<div class="price-regular">
										69.000 ₫
									</div>
								</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
								<div class="product-image">
									<a href="http://localhost:3000/product"><img src="images/bia_de_con_duoc_om.jpg" alt=""></a>
								</div>						
								<div class="caption">
									<div class="book-name">
										<a href="http://localhost:3000/product">Để con được ốm</a>
									</div>
									<div class="nxb">
										Kim Đồng
									</div>
									<div class="price-product">
										53.000 ₫
									</div>
									<div class="price-regular">
										69.000 ₫
									</div>
								</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
								<div class="product-image">
									<a href="http://localhost:3000/product"><img src="images/bia_de_con_duoc_om.jpg" alt=""></a>
								</div>						
								<div class="caption">
									<div class="book-name">
										<a href="http://localhost:3000/product">Để con được ốm</a>
									</div>
									<div class="nxb">
										Kim Đồng
									</div>
									<div class="price-product">
										53.000 ₫
									</div>
									<div class="price-regular">
										69.000 ₫
									</div>
								</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
								<div class="product-image">
									<a href="http://localhost:3000/product"><img src="images/bia_de_con_duoc_om.jpg" alt=""></a>
								</div>						
								<div class="caption">
									<div class="book-name">
										<a href="http://localhost:3000/product">Để con được ốm</a>
									</div>
									<div class="nxb">
										Kim Đồng
									</div>
									<div class="price-product">
										53.000 ₫
									</div>
									<div class="price-regular">
										69.000 ₫
									</div>
								</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
								<div class="product-image">
									<a href="http://localhost:3000/product"><img src="images/bia_de_con_duoc_om.jpg" alt=""></a>
								</div>						
								<div class="caption">
									<div class="book-name">
										<a href="http://localhost:3000/product">Để con được ốm</a>
									</div>
									<div class="nxb">
										Kim Đồng
									</div>
									<div class="price-product">
										53.000 ₫
									</div>
									<div class="price-regular">
										69.000 ₫
									</div>
								</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
								<div class="product-image">
									<a href="http://localhost:3000/product"><img src="images/bia_de_con_duoc_om.jpg" alt=""></a>
								</div>						
								<div class="caption">
									<div class="book-name">
										<a href="http://localhost:3000/product">Để con được ốm</a>
									</div>
									<div class="nxb">
										Kim Đồng
									</div>
									<div class="price-product">
										53.000 ₫
									</div>
									<div class="price-regular">
										69.000 ₫
									</div>
								</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
								<div class="product-image">
									<a href="http://localhost:3000/product"><img src="images/bia_de_con_duoc_om.jpg" alt=""></a>
								</div>						
								<div class="caption">
									<div class="book-name">
										<a href="http://localhost:3000/product">Để con được ốm</a>
									</div>
									<div class="nxb">
										Kim Đồng
									</div>
									<div class="price-product">
										53.000 ₫
									</div>
									<div class="price-regular">
										69.000 ₫
									</div>
								</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
								<div class="product-image">
									<a href="http://localhost:3000/product"><img src="images/bia_de_con_duoc_om.jpg" alt=""></a>
								</div>						
								<div class="caption">
									<div class="book-name">
										<a href="http://localhost:3000/product">Để con được ốm</a>
									</div>
									<div class="nxb">
										Kim Đồng
									</div>
									<div class="price-product">
										53.000 ₫
									</div>
									<div class="price-regular">
										69.000 ₫
									</div>
								</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
								<div class="product-image">
									<a href="http://localhost:3000/product"><img src="images/bia_de_con_duoc_om.jpg" alt=""></a>
								</div>						
								<div class="caption">
									<div class="book-name">
										<a href="http://localhost:3000/product">Để con được ốm</a>
									</div>
									<div class="nxb">
										Kim Đồng
									</div>
									<div class="price-product">
										53.000 ₫
									</div>
									<div class="price-regular">
										69.000 ₫
									</div>
								</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
								<div class="product-image">
									<a href="http://localhost:3000/product"><img src="images/bia_de_con_duoc_om.jpg" alt=""></a>
								</div>						
								<div class="caption">
									<div class="book-name">
										<a href="http://localhost:3000/product">Để con được ốm</a>
									</div>
									<div class="nxb">
										Kim Đồng
									</div>
									<div class="price-product">
										53.000 ₫
									</div>
									<div class="price-regular">
										69.000 ₫
									</div>
								</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
								<div class="product-image">
									<a href="http://localhost:3000/product"><img src="images/bia_de_con_duoc_om.jpg" alt=""></a>
								</div>						
								<div class="caption">
									<div class="book-name">
										<a href="http://localhost:3000/product">Để con được ốm</a>
									</div>
									<div class="nxb">
										Kim Đồng
									</div>
									<div class="price-product">
										53.000 ₫
									</div>
									<div class="price-regular">
										69.000 ₫
									</div>
								</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
								<div class="product-image">
									<a href="http://localhost:3000/product"><img src="images/bia_de_con_duoc_om.jpg" alt=""></a>
								</div>						
								<div class="caption">
									<div class="book-name">
										<a href="http://localhost:3000/product">Để con được ốm</a>
									</div>
									<div class="nxb">
										Kim Đồng
									</div>
									<div class="price-product">
										53.000 ₫
									</div>
									<div class="price-regular">
										69.000 ₫
									</div>
								</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
								<div class="product-image">
									<a href="http://localhost:3000/product"><img src="images/bia_de_con_duoc_om.jpg" alt=""></a>
								</div>						
								<div class="caption">
									<div class="book-name">
										<a href="http://localhost:3000/product">Để con được ốm</a>
									</div>
									<div class="nxb">
										Kim Đồng
									</div>
									<div class="price-product">
										53.000 ₫
									</div>
									<div class="price-regular">
										69.000 ₫
									</div>
								</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
								<div class="product-image">
									<a href="http://localhost:3000/product"><img src="images/bia_de_con_duoc_om.jpg" alt=""></a>
								</div>						
								<div class="caption">
									<div class="book-name">
										<a href="http://localhost:3000/product">Để con được ốm</a>
									</div>
									<div class="nxb">
										Kim Đồng
									</div>
									<div class="price-product">
										53.000 ₫
									</div>
									<div class="price-regular">
										69.000 ₫
									</div>
								</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
								<div class="product-image">
									<a href="http://localhost:3000/product"><img src="images/bia_de_con_duoc_om.jpg" alt=""></a>
								</div>						
								<div class="caption">
									<div class="book-name">
										<a href="http://localhost:3000/product">Để con được ốm</a>
									</div>
									<div class="nxb">
										Kim Đồng
									</div>
									<div class="price-product">
										53.000 ₫
									</div>
									<div class="price-regular">
										69.000 ₫
									</div>
								</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
								<div class="product-image">
									<a href="http://localhost:3000/product"><img src="images/bia_de_con_duoc_om.jpg" alt=""></a>
								</div>						
								<div class="caption">
									<div class="book-name">
										<a href="http://localhost:3000/product">Để con được ốm</a>
									</div>
									<div class="nxb">
										Kim Đồng
									</div>
									<div class="price-product">
										53.000 ₫
									</div>
									<div class="price-regular">
										69.000 ₫
									</div>
								</div>
					</div>
				</div>
			</div>
			<div class="page-number">
				<nav aria-label="Page navigation" style="padding-left: 585px; border-top: 1px dotted #008340; margin-top: 10px; ">
					<ul class="pagination">
						<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
						<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
<div class="web-footer-1">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="col-md-8">
					<div class="image-logo-footer"><img src="images/Book-online.jpe" alt=""></div>		
					<div class="title-footer">
						<span style="color: white">BookOnline</span> là trang website chuyên bán tất cả các loại sách hành đầu Việt Nam
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="title-footer-1">
					Về chúng tôi
				</div>
				<div class="menu-footer">
					<ul class="list-group-1">
						<li class="list-group-item-2"><a href="" class="list-group-item-1">Trang chủ</a></li>
						<li class="list-group-item-2"><a href="" class="list-group-item-1">Giới thiệu</a></li>
						<li class="list-group-item-2"><a href="" class="list-group-item-1">Tin tức</a></li>
						<li class="list-group-item-2"><a href="" class="list-group-item-1">Hướng dẫn</a></li>
						<li class="list-group-item-2"><a href="" class="list-group-item-1">Chính sách & điều khoản</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="folow">
					<div class="title-footer-2">
						Liên hệ với chúng tôi
					</div>
					<div class="image-folow">
						<a href=""><img src="images/facebook.png" alt=""></a>
						<a href=""><img src="images/twitter.png" alt=""></a>
						<a href=""><img src="images/youtube.png" alt=""></a>
						<a href=""><img src="images/google.png" alt=""></a>
						<a href=""><img src="images/tumblr.png" alt=""></a>
					</div>
					<div class="app-folow">
						<a href=""><img src="images/android.png" alt=""></a>
						<a href=""><img src="images/appstore.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="web-footer-2">
	<div class="container">
		<div class="copyright-text">
			Nhóm 40 - Phát triển ứng dụng web
		</div>
	</div>
</div>
</body>
</html>